<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" title="Stock Manager">SM</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">user</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">lll</a></li>

      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">store</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'Categories' %}">categories</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'UserLogin' %}" aria-disabled="true">Login</a>
    </li>
  </ul>